<div class="container col-md-4">
  <div class="row">
    <!--<div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-2">-->
      <div class="col-md-8 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" class="form-control" ngModel name="firstName" required firstName #firstName="ngModel">
            <span class="help-block" *ngIf="!firstName.valid && firstName.touched">please enter a first name</span>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" class="form-control" ngModel name="lastName" required lastName #lastName="ngModel">
            <span class="help-block" *ngIf="!lastName.valid && lastName.touched">please enter a last name</span>
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">please enter a valid email</span>
            <label for="phoneNumber">Phone</label>
            <input type="text" id="phoneNumber" class="form-control" ngModel name="phoneNumber" required phone #phoneNumber="ngModel">
            <span class="help-block" *ngIf="!phoneNumber.valid && phoneNumber.touched">please enter a phoneNumber number</span>
          </div>
          <div class="form-group">
            <label for="issueType">Issue Type</label>
            <select class="form-control" [(ngModel)]="selectedIssue" ngModel name="issueType">
              <option *ngFor="let i of issueTypes">{{ i }}</option>
            </select>
            <label for="issueLocation">Issue Location</label>
            <input type="text" id="issueLocation" class="form-control" ngModel name="issueLocation" required issueLocation #issueLocation="ngModel">
            <span class="help-block" *ngIf="!issueLocation.valid && issueLocation.touched">please enter a valid location</span>
            <label for="details">Details</label>
            <textarea type="text" id="details" class="form-control" ngModel name="details" required details #details="ngModel">
              </textarea>
            <span class="help-block" *ngIf="!details.valid && details.touched">please enter a valid description</span>
          </div>
        </div>
        <button class="btn btn-success" type="submit" [disabled]="!f.valid">Add New Complaint</button>
        <h1>{{ errorMessage }}</h1>
      </form>
      <hr>
    </div>
  </div>
</div>
<div class="container col-md-8">
  <table class="table table-responsive table-bordered table-striped">
    <thead>
      <th>Issue Type</th>
      <th>Issue Location</th>
      <th>Reported By</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let complaint of complaints">
        <td>{{ complaint.issueType }}</td>
        <td>{{ complaint.issueLocation }}</td>
        <td>{{ complaint.citizen.firstName }} {{ complaint.citizen.lastName }}</td>
        <td>
          <button class="btn btn-primary" (click)="showDetails(complaint)">Details</button>
        </td>
      </tr>
    </tbody>
  </table>

  <p-dialog header="Details" [(visible)]="displayDialog" modal='true' [width]="500">
    <div *ngIf="selectedComplaint">
      <div class="panel panel-default">
        <div class="panel-heading">
          Citizen Contact Information
        </div>
        <div class="panel-body">
          <div class="form-horizontal col-md-12">
            <label class="control-label"><p class="text-info">Name: {{ selectedComplaint.citizen.firstName }} {{ selectedComplaint.citizen.lastName }}</p></label>
          </div>
          <div class="form-horizontal col-md-12">
            <label class="control-label"><p class="text-info">Email: {{ selectedComplaint.citizen.email }}</p></label>
          </div>
          <div class="form-horizontal col-md-12">
            <label class="control-label"><p class="text-info">Phone: {{ selectedComplaint.citizen.phone }}</p></label>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Complaint Details
        </div>
        <div class="panel-body">
          <div class="form-horizontal col-md-12">
            <p class="text-info">{{ selectedComplaint.details }}</p>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</div>